Здесь содержатся черновики уроков и некоторые задания. Оглавление: 

{CONTENTS}

Вопросы/советы/замечания — шлите на codedokode@gmail.com

Если вы обнаружили какие-то ошибки или опечатки, вы можете написать о них на почту, либо сделать пулл-реквест с исправлением. Заранее спасибо!
