Здесь содержатся черновики уроков и некоторые задания. Оглавление: 

{CONTENTS}

### Дополнительно

- [Как устроены компьютерные сети, что такое NAT](https://gist.github.com/codedokode/1af26d3a64748f05ba8b870b273edfc6)
- [Как работают транзакции в MySQL, что такое MVCC](https://gist.github.com/codedokode/45f2961e7d68f7a2c501f4f893a45e17)
- [Варианты архитектуры программ-серверов (много процессов, много потоков, асинхронный код)](https://gist.github.com/codedokode/ffd520440a970c07c1c6)
- [Автоматизированное тестирование](https://gist.github.com/codedokode/a455bde7d0748c0a351a)
- [Задачи, помогающие проверить и закрепить знание Яваскрипта на нужном для разработки сайтов уровне](https://gist.github.com/codedokode/ce30e7a036f18f416ae0)
- [Как установить и настроить Sphinx, как подключиться к нему из php-кода](https://gist.github.com/codedokode/10539366)
- [Задача на написание клона игры Арканоид для браузера на JS, с подробными комментариями](https://gist.github.com/codedokode/9933897). Эта задача научит использовать канвас, а также даст представление об устройстве простых игр.
- [Задача написать файлообменник](https://gist.github.com/codedokode/9424217). Как всегда, с подробными комментариями, почти что урок по написанию файлообменников, по безопасной загрузке файлов, по получению информации об аудио- и видео-файлах и их конвертированию.
- [Как автоматически отформатировать PHP код с помощью IDE или сайта](https://gist.github.com/codedokode/8759492)
- [Задача сделать сайт для проведения тестов знаний Testhub](https://gist.github.com/codedokode/8733007). Эта задача не для совсем начинающих, а для тех, кто уже делал более простые задачи вроде студентов или файлообменника. Она позволит освоить какой-нибудь серьезный фреймворк (например, Symfony), ORM, делать сложные формы, использовать автоматические тесты. Она содержит подробные комментарии и по сложности близка к реальным задачам.
- [Задача сделать калькулятор для вычисления выражений с приоритетом операторов и скобками](https://gist.github.com/codedokode/7005985). Эта задача с комментариями позволит узнать про лексический и синтаксический анализ, дерево выражения (AST) и как это можно использовать для вычисления математических выражений.
- [Красивые URL](https://gist.github.com/codedokode/772a4ccc03e41d6b7cba) - как можно организовать адреса страниц (URL) на сайте, чтобы это выглядело логично и было удобно.

Вопросы/советы/замечания — шлите на codedokode@gmail.com

Если вы обнаружили какие-то ошибки или опечатки, вы можете написать о них на почту, либо сделать пулл-реквест с исправлением. Заранее спасибо!

Эти статьи написаны с помощью разметки [markdown](https://ru.wikipedia.org/wiki/Markdown) (она позволяет оформлять текст, добавлять заголовки, ссылки, блоки с кодом, картинки). Если вы с ней не знакомы, но вам интересно, как это сделано, просто откройте статью и нажмите кнопку Raw, чтобы увидеть исходный текст с разметкой.

Оглавление генерируется скриптом `/util/create-readme.php`.

Есть автоматизированный скрипт, который умеет обходить все статьи, находит в них ссылки и проверяет, что они работают:  https://github.com/codedokode/pasta-link-checker 

Еще я использую набор скриптов, которые ищут опечатки в статьях с помощью программы hunspell: https://github.com/codedokode/pasta-spellcheck
